.center {
  text-align: center;
}

pre {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  width: max-content;
}

#button,
#button-code {
  display: none;
}

#form {
  display: none;
}

.invisible {
  display: none;
}

.multiselect {
  margin: auto;
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
}
#checkboxes label {
  display: flex;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}

#btn-background-color-picker,
#btn-text-color-picker {
  height: 150px;
  margin: auto;
  width: 150px;
}
